.footer {
  display: flex;
  align-items: center;
  padding: 48px;
  .fevo {
    font-family: "HelveticaNeue";
    font-size: 12px;
    line-height: 2.75;
    letter-spacing: -0.36px;
    color: #555353;
    margin-left: 22px;
  }
  .menu {
    a {
      text-decoration: none;
      font-family: "Colfax Light";
      color: white;
      letter-spacing: -0.3px;
      text-align: center;
      margin-right: 40px;
    }
    .active-link {
      font-family: "Colfax Bold";
      color: var(--fevo-blue);
    }
    margin-left: 40px;
  }
  .socials {
    margin-left: auto;
    a {
      margin-right: 10px;
    }
  }
}