.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 48px;
  .menu {
    display: flex;
    .btn-link {
      text-decoration: none;
    }
    .dropdown-toggle {
      padding: 0 0;
      position: relative;
      margin-right: 40px;
      &::after {
        content: "";
        position: absolute;
        bottom: 10px;
        width: 2px;
        height: 8px;
        transition: all 0.5s;

        right: 9px;
        transform: rotate(-45deg);
        background-color: white;
        border: none !important;
      }
      &::before {
        content: "";
        position: absolute;
        bottom: 10px;
        width: 2px;
        height: 8px;
        transition: all 0.5s;
        right: 4px;
        transform: rotate(45deg);
        background-color: white;
      }
    }
    .dropdown-menu {
      background-color: black;
      .dropdown-item {
        &:hover {
          background-color: #323333;
        }
      }
    }
    a {
      text-decoration: none;
      font-family: "Colfax Light";
      color: white;
      letter-spacing: -0.3px;
      text-align: center;
      margin-right: 40px;
    }
    .active-link {
      font-family: "Colfax Bold";
      color: var(--fevo-blue);
    }
  }
}