.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 48px 48px;
  background-color: transparent;
  transition: all ease .5s;
  &.top {
    padding: 5px 48px;
    background-color: black;
  }
  .menu {
    display: flex;
    .btn-link {
      text-decoration: none;
    }
    .dropdown-toggle {
      padding: 10px;
      position: relative;
      margin-right: 40px;
      a {
        margin-right: 20px;
      }
      &::after {
        content: "";
        position: absolute;
        bottom: 19px;
        width: 2px;
        height: 8px;
        transition: all 0.5s;

        right: 20px;
        transform: rotate(-45deg);
        background-color: white;
        border: none !important;
      }
      &::before {
        content: "";
        position: absolute;
        bottom: 19px;
        width: 2px;
        height: 8px;
        transition: all 0.5s;
        right: 15px;
        transform: rotate(45deg);
        background-color: white;
      }
      &[aria-expanded="true"]{
        background-color: #d8d8d8;
        a{color: black;}
        &::before{
          background-color: black;
        }
        &::after{
          background-color: black;
        }

      }
    }
    .dropdown-menu {
      width: 238px;
      background-color: #d8d8d8;
      padding: 0 0;
      margin-top: -1px;
      margin-left: -1px;

      .dropdown-item{
        border-bottom: solid 1px #979797;
        height: 43px;
        border-radius: 0;
        padding: 8px;
        a {
          display: flex;
          width: 100%;
          color: #0c0b0b;
          height: 100%;
          align-items: center;
          justify-content: flex-start;
          
        }
        &:hover {
          background-color: var(--fevo-blue);
          a {
            color: white;
          }
          
        }
      }
    }
    a {
      text-decoration: none;
      font-family: "Colfax Regular";
      color: white;
      letter-spacing: -0.3px;
      text-align: center;
      margin-right: 25px;
      padding: 10px
    }
    &.dark {
      a {
        color: #0c0c0c;
      }
      .dropdown-toggle {
        &::after {
          background-color: black;
        }
        &::before {
          background-color: black;
        }
      }
    }
    .active-link {
      font-family: "Colfax Bold";
      color: var(--fevo-blue) !important;
    }
  }
}