:root {
  --fevo-blue: #16a3dd;
  --fevo-yellow: #edc800;
  --very-light-grey: #cacaca;
  --black: #131313;
  --fevo-gray: #979797;
}

@font-face {
  font-family: "Colfax Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Colfax Regular"),
    url("../fonts/Colfax-Regular.woff") format("woff");
}

@font-face {
  font-family: "Colfax Regular";
  font-style: italic;
  font-weight: normal;
  src: local("Colfax Regular Italic"),
    url("../fonts/Colfax-RegularItalic.woff") format("woff");
}

@font-face {
  font-family: "Colfax Thin";
  font-style: normal;
  font-weight: normal;
  src: local("Colfax Thin"), url("../fonts/Colfax-Thin.woff") format("woff");
}

@font-face {
  font-family: "Colfax Thin Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Colfax Thin Italic"),
    url("../fonts/Colfax-ThinItalic.woff") format("woff");
}

@font-face {
  font-family: "Colfax Light";
  font-style: normal;
  font-weight: normal;
  src: local("Colfax Light"), url("../fonts/Colfax-Light.woff") format("woff");
}

@font-face {
  font-family: "Colfax Light Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Colfax Light Italic"),
    url("../fonts/Colfax-LightItalic.woff") format("woff");
}

@font-face {
  font-family: "Colfax Medium";
  font-style: normal;
  font-weight: normal;
  src: local("Colfax Medium"), url("../fonts/Colfax-Medium.woff") format("woff");
}

@font-face {
  font-family: "Colfax Medium Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Colfax Medium Italic"),
    url("../fonts/Colfax-MediumItalic.woff") format("woff");
}

@font-face {
  font-family: "Colfax Bold";
  font-style: normal;
  font-weight: normal;
  src: local("Colfax Bold"), url("../fonts/Colfax-Bold.woff") format("woff");
}

@font-face {
  font-family: "Colfax Bold Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Colfax Bold Italic"),
    url("../fonts/Colfax-BoldItalic.woff") format("woff");
}

@font-face {
  font-family: "Colfax Black";
  font-style: normal;
  font-weight: normal;
  src: local("Colfax Black"), url("../fonts/Colfax-Black.woff") format("woff");
}

@font-face {
  font-family: "Colfax Black Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Colfax Black Italic"),
    url("../fonts/Colfax-BlackItalic.woff") format("woff");
}

@font-face {
  font-family: "Georgia Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Georgia"), url("../fonts/georgia.ttf") format("truetype");
}
@font-face {
  font-family: "Georgia Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Georgia Italic"), url("../fonts/georgiai.ttf") format("truetype");
}

@font-face {
  font-family: "Georgia Bold";
  font-style: normal;
  font-weight: normal;
  src: local("Georgia Bold"), url("../fonts/georgiab.ttf") format("truetype");
}
@font-face {
  font-family: "Georgia Bold Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Georgia Bold Italic"),
    url("../fonts/georgiaz.ttf") format("truetype");
}

@font-face {
  font-family: "HelveticaNeue";
  font-style: normal;
  font-weight: normal;
  src: local("HelveticaNeue"),
    url("../fonts/HelveticaNeueLt.ttf") format("truetype");
}

@font-face {
  font-family: "Canela-Light";
  font-style: normal;
  font-weight: normal;
  src: local("Canela-Light"), url("../fonts/Canela-Light.otf") format("otf");
}

@font-face {
  font-family: "canela Regular";
  font-style: normal;
  font-weight: normal;
  src: local("canela Regular"), url("../fonts/canela_roman.woff") format("woff");
}

@font-face {
  font-family: "canela Light";
  font-style: normal;
  font-weight: normal;
  src: local("canela Light"), url("../fonts/canela_light.woff") format("woff");
}

@font-face {
  font-family: "canela Bold";
  font-style: normal;
  font-weight: normal;
  src: local("canela Bold"), url("../fonts/canela_bold.woff") format("woff");
}
@font-face {
  font-family: "Founders Grotesk Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Founders Grotesk Regular"), url("../fonts/Founders_Grotesk-Regular.otf") format("otf");
}
@font-face {
  font-family: "Founders Grotesk Light";
  font-style: normal;
  font-weight: normal;
  src: local("Founders Grotesk Light"), url("../fonts/Founders_Grotesk-Light.otf") format("otf");
}
body {
  margin: 0;
  font-family: "Colfax Regular";
  background-color: black;
  color: white;
}

.app {
  position: relative;
  min-height: 100vh;
  .app-body {
    padding-bottom: 137px;

    @media (max-width: 1350px) {
      padding-bottom: 200px;
    }
    @media (max-width: 768px) {
      padding-bottom: 290px;
    }
    @media (max-width: 635px) {
      padding-bottom: 291px;
    }
    @media (max-width: 545px) {
      padding-bottom: 385px;
    }
  }
  .footer-section {
    position: absolute;
    bottom: 0;
    width: 100%;
  }
}

h1,
.h1 {
  font-family: "Canela-Light";
  font-size: 60px;
  line-height: 1.1;
  letter-spacing: -1.38px;
  font-weight: normal;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;

  @media (max-width: 768px) {
    font-size: 50px;
  }
  @media (max-width: 500px) {
    font-size: 40px;
  }
  .of-the {
    display: inline-block;
    font-family: "Georgia Italic";
    font-size: 16px;
    letter-spacing: -0.55px;
    padding-bottom: 14px;
    border-bottom: solid 1px #979797;
    margin: 10px 20px;
  }
}

h2,
.h2 {
  margin: 0;
  margin-bottom: 0px;
  font-size: 48px;
  font-family: "Canela-Light";
  @media (max-width: 768px) {
    font-size: 40px;
  }
  @media (max-width: 500px) {
    font-size: 32px;
  }
  // font-family: "Colfax Light";
  line-height: 1.21;
  letter-spacing: -1.1px;
}
.row {
  margin-right: 0;
  margin-left: 0;
}

section {
  background-size: cover;
  background-position: center;
}

.sub-title {
  padding-bottom: 180px;
  padding-top: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  .sub-title-content {
    position: relative;
    padding-bottom: 60px;
    &::after {
      position: absolute;
      bottom: 0px;
      content: "";
      width: 70px;
      min-width: 70px;
      height: 3px;
      background-color: #ffffff;
    }
    @media (max-width: 768px) {
      padding-bottom: 0;
      padding-top: 30px;
      &::after {
        top: 0;
      }
    }
    &.top-bar {
      padding-bottom: 0;
      padding-top: 60px;
      @media (max-width: 768px) {
        padding-top: 30px;
      }
      &::after {
        top: 0;
      }
    }
    &.center {
      &::after {
        left: calc(50% - 35px);
      }
    }
  }
}

.content {
  font-size: 24px;
  line-height: 30px;
  font-family: "Founders Grotesk Light";
  max-width: 600px;
}

.common-4-6-pan {
  display: flex;
  width: 100%;
  .left-pan {
    width: 40%;
    padding: 240px 120px;
    @media (max-width: 1200px) {
      padding: 60px 60px;
    }
  }
  .right-pan {
    padding: 240px 120px;
    width: 60%;
    @media (max-width: 1200px) {
      padding: 60px 60px;
    }
  }
  @media (max-width: 768px) {
    flex-direction: column;
    .left-pan,
    .right-pan {
      width: 100%;
      padding: 30px 30px;
    }
  }
}

.common-5-5-pan {
  display: flex;
  width: 100%;

  .left-pan {
    width: 50%;
    padding: 240px 120px;
    min-height: 400px;
    @media (max-width: 1200px) {
      padding: 60px 60px;
    }
  }
  .right-pan {
    padding: 240px 120px;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    @media (max-width: 1200px) {
      padding: 60px 60px;
    }
  }
  @media (max-width: 768px) {
    flex-direction: column;
    .left-pan,
    .right-pan {
      width: 100%;
      padding: 30px 30px;
    }
  }
}

.social-item {
  min-width: 40px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: solid 0.7px #e5e5e5;
  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
  svg {
    font-size: 19px;
    color: #556274;
  }
  &:hover {
    svg {
      color: var(--fevo-blue);
    }
  }
}

.blog-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 1.44;
  color: #171717;
  margin-bottom: 25px;
}

.post-item {
  width: 100%;
  .blog-title {
    text-decoration: none;
    display: block;
    &:hover {
      color: var(--fevo-blue);
    }
  }
  .info {
    font-size: 16px;
    color: #666666;
    margin-bottom: 25px;
    .author {
      font-weight: bold;
      color: var(--fevo-blue);
    }
  }
}
.modal-open {
  padding-right: 0 !important;
}

.custom-button {
  background-color: var(--fevo-blue);
  color: white;
  font-weight: bold;
  border: none;
  transition: border-color background-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
  &:focus {
    color: white;
    background-color: #0f93c7f6;
  }
}

.bottom {
  height: 85px;
  background-color: white;
  position: relative;
}
.modal-backdrop.show {
  opacity: 0.1;
}

.u-userLauncherColor:not([disabled]) {
  background-color: var(--fevo-blue);
}

.justify-content-evenly {
  justify-content: space-evenly;
}
