.case-item-hero-section {
  height: calc(100vh - 150px);
  min-height: calc(100vh - 150px);
  display: flex;
  width: 100%;
  .case-item-hero-container {
    padding: 30px;
    padding-top: 85px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    .overview-link {
      position: absolute;
      bottom: 85px;
      a {
        color: white;
        text-decoration: none;
        svg {
          margin-right: 17px;
        }
      }
    }
  }
}
.results-section {
  padding: 55px;
  @media (max-width: 1200px) {
    padding: 30px;
  }
  .title {
    text-align: center;
    font-size: 21px;
    line-height: 1.62;
    letter-spacing: -0.43px;
    margin-bottom: 72px;
  }
  .result-item {
    text-align: center;
    .value {
      font-size: 60px;
      line-height: 0.8;
      letter-spacing: -1.2px;
      color: #7ac09b;
      margin-bottom: 15px;
    }
    .name {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 21px;
      color: #838383;
      img {
        margin-right: 8px;
      }
    }
  }
}
.bucks-content-section {
  padding: 30px;
  display: flex;
  @media (max-width: 768px) {
    flex-wrap: wrap;
  }
  background-color: white;
  .bucks-content {
    padding: 100px;
    padding-top: 70px;
    @media (max-width: 1200px) {
      padding: 60px 60px;
    }
    @media (max-width: 768px) {
      padding: 50px 0px;
    }
    .bucks-content-header {
      display: flex;
      align-items: center;
      font-size: 21px;
      line-height: 1.33;
      color: #0c0c0c;
      @media (max-width: 768px) {
        flex-wrap: wrap;
      }
      img {
        margin-right: 25px;
      }
      margin-bottom: 68px;
    }
    p {
      font-size: 21px;
      line-height: 1.48;
      letter-spacing: -0.43px;
      color: var(--black);
    }
  }
  .cart {
    min-width: 467px;
   
    @media (max-width: 500px) {
      min-width: 100%;
    } 
    img {
      width: 100%;
    }
  }
}
.imgs-section {
  height: 500px;
  display: flex;
  
  @media (max-width: 768px) {
    flex-wrap: wrap;;
  }
  .img-1 {
    width: 33%;
    // height: 500px;
    border-right: solid 2px white;
    border-bottom: solid 2px white;
    @media (max-width: 768px) {
      width: 100%;
    }
  }
  .img-2 {
    width: 67%;
    @media (max-width: 768px) {
      width: 100%;
    }
    border-bottom: solid 2px white;
  }
}
.paccers-section {
  padding: 70px 120px;
  @media (max-width: 1200px) {
    padding: 60px 60px;
  }
  @media (max-width: 768px) {
    padding: 60px 30px;
  }
  border-bottom: 5px solid #383939;
  .view-next-link {
    margin-bottom: 70px;
    font-size: 21px;
    line-height: 1.33;
    a {
      color: var(--fevo-blue);
      margin: 0 20px;
    }
  }
  .indiana-pacers {
    font-size: 72px;
    line-height: 1;
    letter-spacing: -1px;
    margin-bottom: 70px;
  }
  .pacers-logo {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
