.company-hero-section {
  width: 100%;
  padding-top: 85px;
  // height: 700px;
  @media (max-width: 1200px) {
    height: unset;
  }
  display: flex;
  align-items: center;
  justify-content: center;
  .company-hero-container {
    height: 100%;
    width: 100%;
    position: relative;
    .left-pan {
      padding: 150px 0px 35px 0px;
      @media (max-width: 1200px) {
        padding: 120px 30px;
      }
      @media (max-width: 768px) {
        padding-top: 60px;
        padding-bottom: 30px;
      }
      h1 {
        margin-bottom: 20px;
        color: var(--fevo-yellow);
      }
    }
    .right-pan {
      max-width: 540px;
      padding-bottom: 120px;
      padding-top: 150px;
      @media (max-width: 1200px) {
        padding: 120px;
      }
      @media (max-width: 768px) {
        padding-top: 0px;
        padding-bottom: 60px;
      }
      font-size: 21px;
      line-height: 1.48;
      color: #fcfcfc;

    }

  }
}

.working-section {
  padding-top: 70px;
  padding-bottom: 120px;

  background-position: center;
  background-size: cover;

  display: flex;
  justify-content: center;
}
.member-section {
  position: relative;
  background-color: #1c1c1c;
  padding: 110px 55px;
  @media (max-width: 1200px) {
    padding: 60px 60px;
  }
  @media (max-width: 768px) {
    padding: 60px 30px;
  }
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #25282d;
  .member-container {
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .team {
      min-width: 220px;
      font-family: "Colfax Regular";
      font-size: 21px;
      line-height: 1.33;
      letter-spacing: -0.62px;
      color: var(--very-light-grey);
      margin-bottom: 50px;
      margin: 0 34px;
      @media (max-width: 690px) {
        margin-left: auto;
        margin-right: auto;
      }
      .our-team {
        font-family: "Colfax Regular";
        color: white;
        margin-bottom: 30px;
      }
    }
    .member-item {
      width: 220px;
      min-width: 220px;
      font-size: 21px;
      line-height: 1.33;
      color: #9c9c9c;
      margin: 0 34px;
      margin-bottom: 50px;
      @media (max-width: 690px) {
        margin-left: auto;
        margin-right: auto;
      }
      .member-photo {
        height: 300px;
        background-color: #282828;
        margin-bottom: 25px;
        overflow: hidden;
        background-size: cover;
        background-position: center;
        img {
          width: 100%;
        }
      }
      .member-name {
        font-weight: bolder;
        color: white;
      }

    }
  }
}