.support-hero-section {
  width: 100%;
  padding-top: 85px;
  height: 700px;
  display: flex;
  align-items: center;
  justify-content: center;
  .support-hero-container {
    height: 100%;
    width: 100%;
    position: relative;
    max-width: 1200px;
    // padding: 120px;
    padding-top: 180px;
    h1 {
      margin-bottom: 20px;
    }
    .subtitle {
      font-size: 21px;
      line-height: 1.33;
      color: var(--very-light-grey);
    }
    .overview-link {
      position: absolute;
      bottom: 35px;
      a {
        color: white;
        text-decoration: none;
        svg {
          margin-right: 17px;
        }
      }
    }

  }
}

.support-section {
  position: relative;
  background-color: white;
  padding: 110px 55px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #25282d;
  .support-container {
    max-width: 1200px;
    .support-form {
      background-color: #f7f7f7;
      padding: 40px;
      margin-bottom: 110px;
      .order-support {
        font-family: "Colfax Medium";
        font-size: 30px;
        font-weight: 500;
        line-height: 1;
        letter-spacing: -0.42px;
      }
      .form-control, .input-group {
        max-width: 320px;
        height: 40px;
      }
      .input-group-append .btn{
        z-index: unset;
      }
      .label {
        display: block;
        margin-top: 35px;
        margin-bottom: 7px;
        font-family: "Colfax Medium";
        font-size: 18px;
        line-height: 1.56;
        letter-spacing: -0.54px;
        color: #0a0a0a;
      }
      label {
        font-size: 18px;
        line-height: 1.89;
        letter-spacing: -0.54px;
        color: #0a0a0a;
        margin-left: 0;
        &::before, &::after {
          left: -35px;
          top: 8px
        }
      }
      textarea {
        height: 165px;
        width: 100%;
        max-width: unset !important;
      }
      .custom-button {
        height: 53px;
        width: 220px;
      }

    }
    .faq-item {
      font-size: 21px;
      line-height: 1.33;
      color: #9c9c9c;
      margin-bottom: 50px;
      &:last-child{
        margin-bottom: 0;
      }
      .faq-question {
        font-family: "Colfax Medium";
        font-size: 24px;
        line-height: 1.25;
        margin-bottom: 10px;
        color: #25282d;
      }

    }
  }
}
.bottom {
  height: 85px;
  background-color: white;
  position: relative;
}