
.content-container {
  padding: 130px;
  @media (max-width: 768px) {
    padding: 30px
  }
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .content {
    max-width: 603px;
  }
}
.partners-hero-section {
  height: 700px;
  display: flex;
  width: 100%;
  background-color: #070606;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 70px;
  @media (max-width: 768px) {
    height: unset;
    min-height: unset;
    flex-direction: column-reverse;
  }
  .content-container {
    padding-top: 200px;
    padding-bottom: 200px;
    padding-right: 0;
    padding-left: 0;
    @media (max-width: 768px) {
      padding: 30px 15px 0px 15px;
    }
    .content {
      max-width: 350px;
      font-family: "Founders Grotesk Light";
    }
  }
  .hero-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 60px;
    @media (max-width: 768px) {
      padding: 30px 60px;
    }
    .hero-content {
      max-width: 400px;
      text-align: center;
      position: relative;
      font-size: 24px;
      font-family: "Founders Grotesk Light";
      margin-bottom: 30px;
      &::before {
        position: absolute;
        left: -40px;
        top: 0;
        height: 36px;
        width: 40px;
        content: '';
        background-repeat: no-repeat;
        background-image: url(../assets/icons/quote_start.png);
      }
      &::after {
        position: absolute;
        right: -40px;
        bottom: 0;
        height: 36px;
        width: 40px;
        content: '';
        background-repeat: no-repeat;
        background-image: url(../assets/icons/quote_end.png);
      }
    }
    .hero-subcontent {
      max-width: 400px;
      text-align: center;
      font-size: 20px;
      font-family: "Founders Grotesk Light";
    }
  }
}
.partners-collective-section {
  display: flex;
  width: 100%;
  background-color: var(--fevo-blue);
  color: black;
  .imgs {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .img-content {
      display: grid;

    }
    img {
      width: 100%;
      max-width: 300px;
      // min-width: 300px;
      &:nth-child(3) {
        max-width: 200px;
      }
    }
  }
  .content-container {
    padding-top: 200px;
    padding-bottom: 200px;
    padding-right: 0;
    padding-left: 0;
    @media (max-width: 768px) {
      padding-top: 30px;
      padding-bottom: 30px;
      align-items: flex-start;
    }
  }
  .content {
    max-width: 520px;
    font-family: "Founders Grotesk Light" !important;
    h1 {
      margin-bottom: 30px;
    }

  }
}

.partners-fevo-way-section {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; 
  .content-container {
    padding-top: 200px;
    padding-bottom: 200px;
    padding-right: 0;
    padding-left: 0;
    align-items: flex-start;
    @media (max-width: 768px) {
      padding-top: 30px;
      padding-bottom: 30px;
    }
    .content {
      // max-width: 440px;
      font-family: "Founders Grotesk Light" !important;
      margin-bottom: 60px;
      @media (max-width: 768px) {
        text-align: left;
        margin-bottom: 30px;
      }
    }
    .for-content-navs {
      a {
        font-size: 24px;
        font-weight: 500;
        line-height: 1.38;
        color: var(--fevo-blue);
        text-decoration: none;
        margin-right: 60px;
        &:last-child {
          margin-right: 0;
        }
        svg {
          color: var(--fevo-gray);
          margin-left: 15px;
        }
      }
    }
  }
  .sub-title {
    padding-top: 200px;
    padding-left: 65px;
    @media (max-width: 768px) {
      padding: 15px 15px 15px 15px;
      padding-top: 60px;
    }
  }
  .right-pan {
    max-width: 600px;
  }
  .left-pan {
    justify-content: flex-start;
    @media (max-width: 768px) {
      align-items: flex-start;
      padding-top: 40px;
      padding-bottom: 0;
    }
    .sub-title {
      padding: 0;
      justify-content: flex-start;
    }
  }

}

