.product-hero-section {
  // height: 100vh;
  min-height: 100vh;
  display: flex;
  width: 100%;
  background-color: #070606;
  @media (max-width: 768px) {
    height: unset;
    min-height: unset;
    flex-direction: column-reverse;
  }
  .hero-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 200px;
    padding-bottom: 80px;
    @media (max-width: 768px) {
      padding-top: 50px;
      padding-bottom: 50px;
    }
  }
  .left-pan {
    display: flex;
    align-items: flex-end;
    padding-right: 0;
    img {
      width: 100%;
    }
    @media (max-width: 768px) {
      // height: 50vh;
      align-items: center;
      padding: 40px;
      img {
        // width: unset;
        // height: 100%;
      }
    }
    
    .show-laptop {
      display: block;
      @media (max-width: 768px) {
        display: none;
      }
    }
    
    .show-mobile {
      display: none;
      @media (max-width: 768px) {
        display: block;
      }
    }
  }
  .right-pan {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
    @media (max-width: 768px) {
      padding-top: 100px;
      padding-bottom: 30px;
    }
    .content {
      margin-top: 30px;
      // margin-bottom: 180px;
      max-width: 525px;
      font-size: 24px;
      line-height: 1.42;
      color: #ffffff;
      font-family: "Founders Grotesk Light";
    }
  }
  position: relative;
  .slider-dots {
    position: absolute;
    bottom: 120px;
    display: flex;
    width: 100%;
    justify-content: center;
    @media (max-width: 768px) {
      position: unset;
      margin-bottom: 30px;
    }
  }
}
.product-collective-section {
  width: 100%;
  background-color: var(--fevo-blue);

  h1 {
    margin-bottom: 30px;
  }
  .left-pan {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 60px;
    max-width: 600px;
    @media (max-width: 768px) {
      padding: 30px;
      justify-content: flex-start;
    }
    .sub-title-content {
      padding: 0;
      &::after {
        content: none;
      }
    }
  }
  .right-pan {
    padding-bottom: 45px;
  }
}

.content-container {
  padding: 130px;
  @media (max-width: 768px) {
    padding: 60px
  }
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .content {
    max-width: 603px;
    font-family: "Founders Grotesk Regular";
    font-size: 24px;
    line-height: 1.42;
  }
}
.product-fevo-way-section {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; 
  color: black;
  h1 {
    margin-bottom: 30px;
  }
  .content-container {
    padding-top: 200px;
    padding-bottom: 200px;
    padding-right: 65px;
    @media (max-width: 768px) {
      padding: 15px 15px 15px 15px;
    }
    align-items: flex-end;
    @media (max-width: 768px) {
      align-items: flex-start;
    }
    width: 100%;
    .content {
      text-align: right;
      max-width: 440px;
      margin-bottom: 60px;
      @media (max-width: 768px) {
        text-align: left;
        margin-bottom: 30px;
      }
    }
    .for-content-navs {
      a {
        font-size: 24px;
        font-weight: 500;
        line-height: 1.38;
        color: var(--fevo-blue);
        text-decoration: none;
        margin-right: 60px;
        &:last-child {
          margin-right: 0;
        }
        svg {
          color: var(--fevo-gray);
          margin-left: 15px;
        }
      }
    }
  }
  .sub-title {
    // padding-top: 200px;
    // padding-left: 65px;
    // @media (max-width: 768px) {
    //   padding: 15px 15px 15px 15px;
    //   padding-top: 60px;
    // }
    padding: 60px 0px;
    max-width: 600px;
    @media (max-width: 768px) {
      padding: 30px;
      justify-content: flex-start;
    }
    .sub-title-content {
      padding: 0;
      &::after {
        content: none;
      }
    }
    justify-content: flex-start;
  }

}

.phone-img {
  @media (max-width: 768px) {
    margin-bottom: 30px;
  }
}
.desktop-img {
  @media (max-width: 768px) {
    margin-bottom: 30px;
  }
}