
.terms-sec {
  background-color: #101010;
  width: 100%; 
  // max-width: 1440px;
  display: flex;
  justify-content: center;

  padding-top: 200px;
  padding-bottom: 100px;

  @media (max-width: 899px) {
    padding-top: 150px;
    padding-bottom: 100px;
  }
  
  .terms-section {
    font-family: "Founders Grotesk Regular";
    font-size: 24px;
  }
  .terms-text {
    margin-top: 75px;
    @media (max-width: 899px) {
      margin-top: 25px;
    }
    h2 {
      font-size: 32px;
      line-height: 50px;
    }
    h3 {
      font-size: 24px;
      line-height: 30px;
    }
    h4 {
      font-size: 18px;
      line-height: 24px;
      text-decoration: underline;
    }

  }
  
  .terms-bullet {
    display: list-item;
    list-style-type: disc;
    list-style-position: inside;
  }

  .terms-section-part {
    font-family: "Founders Grotesk Regular";
    font-size: 22px;
  }
}