.blog-hero-section {
  width: 100%;
  padding-top: 85px;
  height: 650px;
  display: flex;
  align-items: center;
}

.blog-section {
  position: relative;
  background-color: white;
  &.dark {
    background-color: #1c1c1c;
    .blog {
      h1, h2 {
        color: white;
      }
      color: #d4d4d4;
    }
    .social-item {  
      svg {
        color: var(--fevo-blue);
      }
      &:hover {
        svg {
          color: #556274;
        }

      }
    }
  }
  padding: 110px 55px;
  @media (max-width: 1200px) {
    padding: 60px 0px;
  }
  @media (max-width: 768px) {
    padding: 50px 0px;
  }
  display: flex;
  @media (max-width: 768px) {
    flex-wrap: wrap;
  }
  .blog {
    flex-grow: 1;
    padding: 0 55px;
    @media (max-width: 1200px) {
      padding: 0 30px;
    }
    h1 {
      color: #171717;
      margin-bottom: 12px;
    }
    h2 {
      color: #010101;
    }
    color: #666666;
    margin-bottom: 95px;
    .blog-info {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
      font-size: 14px;
      margin-bottom: 33px;
      .author {
        color: var(--fevo-blue);
      }
      .cat {
        margin-right: 22px;
        position: relative;
        &::after {
          content: "";
          position: absolute;
          right: -13px;
          top: calc(50% - 2px);
          width: 3px;
          min-width: 3px;
          height: 3px;
          border-radius: 50%;
          background-color: #666666;
        }
        &:last-child {
          &::after {
            content: none;
          }
        }
      }
      .social-item {
        margin-right: 28px;
        &:last-child {
          margin-right: 0;
        }
      }
    }
  
    img {
      width: 100%;
      margin-bottom: 25px;
    }
    .summary {
      font-size: 18px;
      line-height: 1.56;
      margin-bottom: 36px;
    }
    button {
      width: 160px;
      height: 50px;
    }
  
  }
  .subscribe {
    padding: 0 55px;
    @media (max-width: 1200px) {
      padding: 0 30px;
    }
  }
  
}

.bottom {
  background-color: white;
}