
.testimonial-item {
  width: 100%;
  max-width: 1300px;
  margin-bottom: 80px;
  &:last-child{
    margin-bottom: 0;
  }
  .testimonial-content {
    padding: 0 85px;
    @media (max-width: 1200px) {
      padding: 0px 50px;
    }
    @media (max-width: 890px) {
      padding: 0px 20px;
    }
    font-family: "Colfax Light";
    font-size: 21px;
    line-height: 1.33;
    letter-spacing: -0.62px;
    color: var(--very-light-grey);
    display: flex;
    flex-direction: column;
    justify-content: center;
    .testimonial-title {
      font-size: 36px;
      line-height: 0.78;
      color: #ffffff;
      margin-bottom: 10px;
    }
  }
}